@import url(./reset.css);
@import url(./fonts/stylesheet.css);

:root {
  --surface-color: #242f3d;
  --surface-color-variant: #39495e;
  --background-color: #17212b;
  --background-secondary-color: #242f3d;
  --background-tertiary-color: #242f3d;
  --background-inverted-color: #fff;
  --text-color: #fff;
  --text-selection-background-color: #6c727a;
  --text-inverted-color: #26325c;
  --text-secondary-color: #7f91a4;
  --text-tertiary-color: #7f91a4;
  --backdrop-color: rgba(23, 33, 43, 0.75);
  --title-color: #fff;
  --line-color: #2c3743;
  --danger-color: #ff6270;
  --success-color: #70cf98;
  --warning-color: #f2c94c;
  --grey-color: #7f91a4;
  --grey-color-50: rgba(127, 145, 164, 0.5);
  --main-color: #7177f8;
  --main-variant-color: #525aff;
  --secondary-color: rgba(127, 145, 164, 0.5);
  --secondary-variant-color: rgba(127, 145, 164, 0.7);
  --tertiary-color: #242f3d;
  --tertiary-variant-color: #39495e;
  --surface-color-50: rgba(36, 47, 61, 1);
  --transition-duration: 0.2s;
  --transition-function: ease-in-out;
  --border-radius: 12px;
}

html,
body {
  overflow: hidden;
}
body {
  font-family: "Stem", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: var(--text-color);
  background-color: var(--background-color);
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

/* hero fons*/
#particles-js {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/*hero fons*/

/* header */
header {
  position: relative;
  background-color: var(--line-color);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
}
.navbar-logo {
  font-size: 16px;
  text-transform: uppercase;
  span {
    color: var(--main-color);
  }
}
.navbar-nav {
  display: flex;
  align-items: center;
  gap: 40px 20px;
  a:hover {
    color: var(--main-color);
  }
  a.active {
    color: var(--main-color);
  }
}
.navbar-toggle {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  z-index: 11111;

  grid-area: menu;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;

  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}
.navbar-toggle-item {
  height: 2px;
  width: 18px;
  background-color: var(--grey-color);
  border-radius: var(--border-radius-small);
  transition: all var(--transition-function) var(--transition-duration);
}
.navbar-toggle .navbar-toggle-item:first-child {
  margin-bottom: 4px;
}
.navbar-toggle.active .navbar-toggle-item:first-child {
  transform: translateY(3px) rotate(45deg);
}
.navbar-toggle.active .navbar-toggle-item:last-child {
  transform: translateY(-3px) rotate(-45deg);
}
/* header end */

/* main */
/* hero */
.hero {
  position: relative;
}
.hero-wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-title {
  font-size: 5vw;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-subtitle {
  color: var(--text-secondary-color);
  font-size: 2.5vw;
}
/* hero end */
/* main end */

/* media */
@media screen and (max-width: 600px) {
  .navbar-toggle {
    opacity: 1;
    visibility: visible;
  }
  .navbar-collapse {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 80%;
    height: 100vh;
    z-index: 98;
    border-left: 2px solid var(--main-color);
    /* box-shadow: 1px 1px 1px 1px red; */
    background-color: var(--line-color);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    transition: all var(--transition-function) var(--transition-duration);

    opacity: 0;
    visibility: hidden;
    display: flex;
  }
  .navbar-collapse.active {
    opacity: 1;
    visibility: visible;
    right: 0;
  }
  .navbar-nav {
    flex-direction: column;
  }
}
/* media end */
